body {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_bar {
    border-radius: 25px;
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px;
    width: 600px;
    align-items: center;
    margin-bottom: 50px;
}

#my_card {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

#stickers_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}